<!DOCTYPE HTML>
<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Exercise plan</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" >
</head>
<body>
<div class="container">

	<div class="col-md-4">
		<p th:inline="text">You are logged in as [[${#httpServletRequest.remoteUser}]]</p>
	</div>
	<div class="col-md-4">
		<h1>Exercise plan</h1>
	</div>
	
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
	
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Day</th>
				<th>Type</th>
				<th>Name</th>
				<th>Sets</th>
				<th>Reps/time(mins)</th>
				<th>Weight(kg)</th>
				<th sec:authorize="hasAuthority('ADMIN')"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${exercises.empty}">
				<td colspan="8">No exercises have been stored yet.</td>
			</tr>
			<tr th:each="exercise : ${exercises}">
				<td th:text="${exercise.day}"></td>
				<td th:text="${exercise.type.name}"></td>
				<td th:text="${exercise.name}"></td>
				<td th:text="${exercise.sets}"></td>
				<td th:text="${exercise.reps}"></td>
				<td th:text="${exercise.weight}"></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id} (id=${exercise.id})}" class="btn btn-danger">Delete</a></td>
			</tr>
		</tbody>
	</table>
	<a href="/add" class="btn btn-primary">Add</a>
</div>
</body>
</html>