<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org"
      	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Login page</title>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
        <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" >
    </head>
    <body>
    <div class="container">
   		<div class="col-md-4">
   			<div th:if="${param.error}" style="color : red">
            Invalid username and password.
	        </div>
	        <div th:if="${param.logout}" style="color : blue">
	            You have been logged out.
	        </div>
   			<div class="jumbotron" style="margin-top:150px">
   			<h3>Please login</h3>
   				<form th:action="@{/login}" method="post">
	            <div class="form-group"><input type="text" class="form-control" name="username" placeholder="Enter username"/></div>
	            <div class="form-group"><input type="password" class="form-control" name="password" placeholder="Password"/></div>
	            <input type="submit" class="btn-primary form-control" value="Login"/>
	        	</form>
   			</div>
   			<a th:href="@{/signup}">Sign-up</a>
   		</div>
   		<div class="col-md-4"></div>
        
    </div>
    </body>
</html>